header {
  @include flex(space-between, center);
  width: 100%;
  border-bottom: 1px solid $col-grey;
  
  &.container {
    padding-top: 0.7em;
    padding-bottom: 0.7rem;
  }

  .header-logo {
    @include flex(center, center);
  }

  .header-logo h1 {
    font-size: 1.5rem;
    margin: 0;
    color: $col-primary;
  }

  .header-icon {
    @include flex(center, center);
    text-transform: uppercase;
    transition: color 0.2s linear;
    color: $col-primary;

    &:hover {
      color: lighten($color: $col-primary, $amount: 25);
    }
    
    i {
      font-size: 1.5rem;
      margin-right: 0.4rem;
    }
  }
}